.cart {
    display: none;
}
main {
    width: 100%;
    padding: 5vh 40vh;
    position: relative;
}
.h2 {
    display: none;
    color: #2C2F35;
    font-weight: 700;
}
hr {
    display: none;
}
.mobileHeader {
    display: none;
}
.message {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
.checkout {
    display: flex;
    width: 100%;
}
.items {
    position: relative;
    width: 60%;
    height: max(35vh,260px);
    background-color: white;
    padding: 0vh 1vh 2vh 1vh;
    overflow-x: hidden;
}
.cardwrap {
    width: 100%;
    background-color: white;
}
.container {
    background-color: white;
    padding: 15px 0px 15px 15px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: 1vh;
    
}
.container button {
    position: absolute;
    top: 1vh;
    right: 0.1vh;
    background-color: white;
    border: none;
}
.container button img {
    height: 20px;
    width: 20px;
}
.container button img:hover {
    cursor: pointer;
}
.container img {
    height: 75px;
    width: 75px;
    border-radius: 1.2rem;
    object-fit: cover;
}
.price {
    font-size: clamp(0.6rem, 1rem, 1.2rem);
    background-color: white;
    border-radius: 20px;
    padding: 0.5vh 1vh 1vh;
    margin-left: 20px;
    width: 50%;
    height: max(35vh,260px);
    color: rgb(62, 62, 62);
}
.price div {
    display: flex;
    justify-content: space-between;
    padding: 0.1vh;
}
.price .btn {
    display: flex;
    justify-content: center;
}
.price .btn button {
    width: 50%;
    padding: 1vh;
    border: none;
    background: #741FA2;
    color: white;
    border-radius: 16px;
    cursor: pointer;

}
.titles {
    font-size: clamp(0.6rem, 1rem, 1.1rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1vh;
}
@media screen and (max-width:1100px) {
    main {
        padding: 10px 20px;
    }
    .amount {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .mobileHeader {
        display: flex;
        justify-content: space-between;
    }
    .exit img {
        height: 18px;
        width: 18px;
        margin-top: 12px;
    }
    .h2 {
        display: block;
    }
    hr {
        display: block;
        width: 100%;
        border: none;
        height: 1px;
        background-image: linear-gradient(to right, lightgray, darkgray);
        margin: 0;
        margin-top: 18px;
      }
    .mobileRight {
        display: flex;
    }
    .mobileRight img {
        height: 18px;
        width: 18px;
        margin-top: 12px;
        margin-right: 10px;
    }
    body {
        padding: 0;
    }
    .cardwrap {
        width: 100%;
    }
    .container img {
        height: 75px;
        width: 75px;
    }
    .shortDesc {
        font-size: clamp(0.7rem, 4vw, 1.1rem);
    }
    .coinPrice {
        font-size: clamp(0.8rem, 4vw, 1rem);
        font-weight: 700;
        color: #741FA2;
    }
    .titles  {
        padding-left: 10px;
    }
    .realPrice {
        display: none;
    }
    nav {
        display: none;
    }
    .checkout {
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .items {
        width: 100%;
    }
    #realDiv, #saleDiv {
        display: none;
    }
    #totalDiv {
        margin-top: 20px;
        border-radius: 6px;
        align-items: center;
        padding: 0% 4%;
        margin-bottom:25px;
        background-color: white;
    } 
    #totalLabel {
        font-weight: 700;
        font-size: 1.1rem;
    }
    #total {
        font-weight: 700;
        color: #741FA2;
    }
    #savedDiv {
        background-color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        align-items: center;
    }
    #savedLabel {
        font-weight: 700;
        font-size: 1.2rem;
        margin-right: 10px;
    }
    #saved {
        color: #741FA2;
        font-weight: 700;
    }
    .price {
        background-color: transparent;
        height: auto;
        width: 100%;
    }
    .price .btn button {
        width: 100%;
        height: 45px;
        font-size: 1.1rem;
        font-weight: 700;
        border-radius: 24px;
        margin-bottom: 5px;
    }
    footer {
        display: none;
    }
}
