* {
    box-sizing: border-box;
}
main {
    width: 100%;
    padding: 4vh 25vh 0vh;
    display: flex;
}
.left {
    width: 70%;
}
.slideshow {
    height: 60vh;
    width: 100%;
    display: flex;
}
.imgSideBar {
    height: 100%;
    width: 20vh;
    overflow: hidden;
}
.imgSideBar img {
    height: 20%;
    width: 100%;
    cursor: pointer;
}
.mainImg {
    height: 100%;
    width: 100%;
    margin-left: 1vh;
}
.mainImg img {
    height: 100%;
    width: 100%;
}
.msg {
    display: none;
    color: #741FA2;
    position: absolute;
    left: 33%;
}
.right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 3vh;
}
.right span {
    color: #a66800;
}
.right  button {
    padding: 1.5vh 2vh;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: #741FA2;
    color: white;
    margin-top: 2vh;
    transition-duration: 0.3s;
}
.right button:hover {
    cursor: pointer;
    background-color: white;
    color: #741FA2;
}
.sale {
    display: flex;
    align-items: center;
}
.oldPrice {
    font-size: 0.8rem;
    text-decoration:line-through;
    margin-left: 1vh;
    color:#595959 !important;
}
.newPrice {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 32px;
}
.salePercent {
    font-size: 0.8rem;
    margin-left: 1vh;
    color:#595959 !important;
}
.desc {
    margin: 0;
    margin-top: 2vh;
}
.rating {
    font-size: 0.7rem;
    margin: 0;
    color: #222222;
    font-weight: 700;
}
@media (max-width:1024px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0vh;
    }
    .left, .right {
        width: 85%;
    }
    body {
        min-height: 110vh;
    }
}
@media screen and (max-width:576px){
    .imgSideBar {
        display: none;
    }
    main {
        padding: 4vh 2vh 10vh;
    }
    .left, .right {
        width: 100%;
    }
    body {
        min-height: 110vh;
    }

}