* {
    box-sizing: border-box;
}
@font-face {
    font-family: "GeorgianFont";
    src: url('../includes/bpg_glaho.ttf') format('truetype');
}

main {
    flex: 1;
}
body {
    position: relative;
    min-width: 280px;
    width: 100%;
    margin:0;
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    background-color: #fcfcfc;
    padding-top: max(10vh,78px);
    box-sizing: border-box;
}
.hidden {
    display: none;
}
.cart {
    height: 6vh;
    width: 6vh;
    background-color: #741FA2;
    border-radius: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 6vh;
    bottom: 6vh;
    z-index: 3;
}
.cart:hover {
    cursor: pointer;
}
.cart img {
    height: 3vh;
    width: 3vh;
}
.cart img:hover {
    cursor: pointer;
}
.cartCount {
    position: absolute;
    top: 0;
    color: white;
}
nav {
    height: 10vh;
    width: 100%;
    position: fixed;
    display: relative;
    z-index: 10;
    top: 0;
    left: 0;
}
.wrapper {
    display: flex;
    height: max(10vh, 78px);
    justify-content: center;
    align-items: center;
    background-color: #741FA2;
}
.tags {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 3%;
}
.tags a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
    padding: 0% 3%;
    letter-spacing: .05em;
    font-weight: 700;
    font-size: 0.9rem;
}
.userbox {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 1%;
}
.user {
    text-decoration: none;
    color: white;
    white-space: nowrap;
    padding: 0% 1% 0% 1%;
    letter-spacing: .05em;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0% 5% 0% 5%;
}
.bal {
    margin-left: 5%;
    padding: 8% 15%;
    border: 1px solid white;
    border-radius: 12px;
}
.bal:hover {
    transition: box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.1);
}
.wrapper h1 a {
    color: white;
    position: relative;
    left: 0;
    text-decoration: none;
}
.wrapper .menuBtn, .xBtn {
    position: absolute;
    right: 0;
    display: none;
}
.xBtn {
    right: 10px;
}
.wrapper .menuBtn img {
    height: 52px;
    width: 52px;
}
.xBtn img {
    height: 32px;
    width: 32px;
}
footer {
    background-color: #741FA2;
    color: white;
    font-weight: 700;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3vh;
}
.searchDiv {
    width: 40vh;
    position: relative;
    display: flex;
}
.searchDiv input {
    width: 100%;
    height: 35px;
    padding-left: 24px;
    border-radius: 12px;
    border: none;
    outline: none;
}
.searchDiv img {
    position: absolute;
    color: white;
    left: 5px;
    top: 30%;
    height:14px; 
    width:14px;
}
.results {
    max-height: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh; /* Position below the search bar */
    left: 20%;
    width: 60%;
    background-color: #fff; 
    padding: 10px; 
    display: none;
    z-index: 10;
    border-radius: 6px;
}
  
.result a {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}
.result .resultPrices {
    display: flex;
    align-items: center;
    justify-content: center;
}
.resultRealPrice {
    text-decoration: line-through;
    color: #777E90;
    font-size: 14px;
}
.resultSalesPrice {
    font-size: 18px;
    color: #333333;
}
.result p {
    white-space: nowrap;
}
.result img {

    height: 100%;
    width: 80px;
}
.mobileMenu {
    left: 0;
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100%;
    z-index: 10;
    background: #741FA2;
    display: none;
    flex-direction: column;
    align-items: center;
}
.mobileMenu a {
    list-style: none;
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    margin-top: 5%;
}
::-webkit-scrollbar {
    width: 8px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #bbb #f4f4f4;
  }
  
  *::-webkit-scrollbar {
    width: 4px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #f4f4f4;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 8px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }
@media screen and (max-width:576px){
    .searchDiv {
        display: none;
    }
    .wrapper .menuBtn {
        display: inline;
    }
    .cart {
        height: 7vh;
        width: 7vh;
        right: 0
    }
}
@media screen and (max-width:1024px) and (min-width:768px){
    .searchDiv {
        width: 72vw;
    }
}
@media screen and (max-width:768px) and (min-width:576px){
    .searchDiv {
        width: 67vw;
    }
    .wrapper {
        padding-left: 5%;
        justify-content: flex-start;
    }
}
@media screen and (max-width:1024px){
    .searchDiv {
        margin-left: 3%;
    }
    .tags, .userbox {
        display: none;
    }
    .wrapper .menuBtn, .xBtn {
        display: inline;
    }
    .results {
        width: 72%;
    }
}
