* {
    box-sizing: border-box;
}
body {
    position: relative;
    width: 100%;
    margin:0;
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding-top: 10vh;
    box-sizing: border-box;
}
.hidden {
    display: none;
}
.cart {
    height: 6vh;
    width: 6vh;
    background-color: #741FA2;
    border-radius: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 6vh;
    bottom: 6vh;
    z-index: 3;
}
.cart:hover {
    cursor: pointer;
}
.cart img {
    height: 3vh;
    width: 3vh;
}
.cart img:hover {
    cursor: pointer;
}
.cartCount {
    position: absolute;
    top: 0;
    color: white;
}
nav {
    height: 10vh;
    width: 100%;
    position: fixed;
    display: relative;
    z-index: 10;
    top: 0;
    left: 0;
}
.wrapper {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #741FA2;
}
.wrapper h1 a {
    color: white;
    position: relative;
    left: 0;
    text-decoration: none;
}
.wrapper ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.wrapper ul li a {
    padding-right: 15px;
    color: white;
    text-decoration: none;
    transition-duration: 0.2s;
}
.wrapper ul li a:hover {
    font-size: 18px;
}
.wrapper .menuBtn {
    position: absolute;
    right: 0;
    display: none;
}
.wrapper .menuBtn img {
    height: 7vh;
    width: 7vh;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.misha {
    max-height: 75vh;
    max-width: 75vh;
}   
@media screen and (max-width:576px){
    .wrapper .menuBtn {
        display: inline;
    }
    .wrapper ul {
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: #741FA2;
        font-size: 25px;
        top: 10vh;
    }
    .wrapper li {
        padding-top: 25px;
    }
    .cart {
        height: 7vh;
        width: 7vh;
        right: 0
    };
    
}

